<html>

<head>
  <title>Wtr online</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="Cache-control" content="public">
  <link rel="stylesheet" type="text/css" href="main.css" />
</head>

<body >
  <div id="container" v-bind:class="nightmode ? 'nightmode': ''">
    <div class="item" style="display: flex;justify-content:center; align-items: center;padding-top: 0">
        <div>
            <!--<iframe frameborder="0" style="height: 160px; width: 140px;" src="https://api.openweathermap.org/data/2.5/weather?q=Salzburg,at&units=metric&appid=a296907e19c33ca056b8e1a69db193eb&mode=html"></iframe>-->
        </div>
        <div class="current-conditions">
            <table>
                <tr>
                    <td colspan="2">
                        <div style="display: flex;justify-content:space-between; align-items: center; font-weight:bold; font-size:25px;">
                            <span v-text="openWeather.name" style="font-size: 16px"></span>
                            <img v-bind:src="'https://openweathermap.org/img/w/'+weather.icon+'.png'" width="50" height="50" style="margin: 0 10px;"/>
                            <div v-bind:class="openWeather.main.temp < 0 ? 'negative':'positive'"><span v-text="openWeather.main.temp"></span>°</div>
                        </div>

                    </td>
                </tr>
                <tr><td>🌥 Clouds: </td><td><span v-text="openWeather.clouds.all"></span>%</td></tr>
                <tr><td>⚖ Pressure: </td><td><span v-text="openWeather.main.pressure"></span>hpa</td></tr>
                <tr><td>💧 Humidity: </td><td><span v-text="openWeather.main.humidity"></span>%</td></tr>
                <tr><td>♐ Wind: </td><td><span v-text="openWeather.wind.speed"></span> m/s</td></tr>
                <tr><td>🌄 Sunrise: </td><td><span v-text="sunrise"></span></td></tr>
                <tr><td>🌇 Sunset: </td><td> <span v-text="sunset"></span></td></tr>
                <tr><td>⏳ Day length: </td><td><span v-text="dayLength"></span></td></tr>
            </table>
        </div>
        <div class="yr-prognosis"><a href="http://www.yr.no/place/Austria/Salzburg/Gr%C3%B6dig/" target="_blank">
            <img src="https://www.yr.no/en/content/2-2777921/meteogram.svg" width="828">
        </a></div>
    </div>

      <div class="item warning" v-if="salzburgWarning" style="display: flex;justify-content:center; ">
          <div>
              <strong>Today</strong>
              <div v-for="warning in salzburgWarning.today" class="flex-center">
                  <img v-bind:src="warning.img.src"/> <div><p v-if="warning.time" v-text="warning.time"></p><p v-text="warning.description"></p></div>
              </div>
          </div>

          <div>
              <strong>Tomorrow</strong>
              <div v-for="warning in salzburgWarning.tomorrow" class="flex-center">
                  <img v-bind:src="warning.img.src"/> <div><p v-if="warning.time" v-text="warning.time"></p><p v-text="warning.description"></p></div>
              </div>
          </div>
          <!--<a v-bind:href="salzburgWarning.link"><span v-text="salzburgWarning.pubDate" style="font-size: 80%; color: #666666"></span></a>-->
      </div>

      <div class="satellite item">
        <div class="satellite-picture" v-for="picture in radars" v-show="radarVisible == picture.img">
            <img v-bind:src="getSatelliteImage(picture)" v-bind:width="picture.width" v-bind:height="picture.height" class="radar" >
        </div>
        <div class="nav">
            <img v-for="picture in radars" class="radar" v-bind:src="picture.thumb" v-on:click="onSatelliteClick(picture)">
        </div>
    </div>

      <div class="salzburg item">
          <!--<div class="title">-->
              <!--<h2>Salzburg stations</h2>-->
          <!--</div>-->
          <div class="spinner" v-if="!salzburgWeather">
              <div class="rect1"></div>
              <div class="rect2"></div>
              <div class="rect3"></div>
              <div class="rect4"></div>
              <div class="rect5"></div>
          </div>
          <table id="salzburgWtr" v-if="salzburgWeather">
              <tr>
                  <th></th>
                  <th v-for="header in salzburgHeaders" v-text="translate(header)"></th>
              </tr>
              <tr v-for="(measurements, city) in salzburgWeather">
                  <td><city v-bind:name="city" v-bind:measurements="measurements"></city></td>
                  <td v-for="header in salzburgHeaders" v-bind:class="translate(header)" class="type">
                      <template v-if="isKnownUnit(header)">
                           <component :is="translate(header)" v-bind:value="lastValue(measurements, header)"></component>
                      </template>
                      <template v-else v-text="lastValue(measurements, header)"></template>
                  </td>
              </tr>
          </table>
      </div>

      <div class="snowflakes" aria-hidden="true" v-if="weather.id >= 600 && weather.id < 700">
          <div class="snowflake" v-for="n in 10">
              ❅
          </div>
      </div>

      <div id="footer">
      <p>Weather indicators compilation for Gr&ouml;dig, Austria. Author is <a href="https://www.twitter.com/tdvorak">Tomáš Dvořák</a>. Source code available at <a href="https://github.com/todvora/wtr">github.com/todvora/wtr</a>.
      </p>
    </div>
  </div>
  <!--<script src="vue.min.js"></script>-->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script type="text/javascript" src="main.js"></script>
  <script type="text/javascript" src="https://api.openweathermap.org/data/2.5/weather?q=Salzburg,at&units=metric&appid=a296907e19c33ca056b8e1a69db193eb&callback=window.weather.setOpenWeather" async></script>
</body>

</html>
