<html>

<head>
  <title>Wtr online</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="Cache-control" content="public">
  <link rel="stylesheet" type="text/css" href="main.css" />
</head>

<body >
  <div id="container" v-bind:class="nightmode ? 'nightmode': ''">
    <div class="item" style="display: flex;justify-content:center; align-items: center;padding-top: 0">
        <div>
            <!--<iframe frameborder="0" style="height: 160px; width: 140px;" src="https://api.openweathermap.org/data/2.5/weather?q=Salzburg,at&units=metric&appid=a296907e19c33ca056b8e1a69db193eb&mode=html"></iframe>-->
        </div>
        <div class="current-conditions">
            <table>
                <tr>
                    <td colspan="2">
                        <div style="display: flex;justify-content:space-between; align-items: center; font-weight:bold; font-size:25px;">
                            <span v-text="openWeather.name" style="font-size: 16px"></span>
                            <img v-bind:src="'https://openweathermap.org/img/w/'+weather.icon+'.png'" width="50" height="50" style="margin: 0 10px;"/>
                            <div v-bind:class="openWeather.main.temp < 0 ? 'negative':'positive'"><span v-text="openWeather.main.temp"></span>°</div>
                        </div>

                    </td>
                </tr>
                <tr><td>🌥 Clouds: </td><td><span v-text="openWeather.clouds.all"></span>%</td></tr>
                <tr><td>⚖ Pressure: </td><td><span v-text="openWeather.main.pressure"></span>hpa</td></tr>
                <tr><td>💧 Humidity: </td><td><span v-text="openWeather.main.humidity"></span>%</td></tr>
                <tr><td>♐ Wind: </td><td><span v-text="openWeather.wind.speed"></span> m/s</td></tr>
                <tr><td>🌄 Sunrise: </td><td><span v-text="sunrise"></span></td></tr>
                <tr><td>🌇 Sunset: </td><td> <span v-text="sunset"></span></td></tr>
                <tr><td>⏳ Day length: </td><td><span v-text="dayLength"></span></td></tr>
            </table>
        </div>
        <div class="yr-prognosis">
            <a href="https://www.yr.no/en/forecast/daily-table/2-2772821/Austria/Carinthia/Politischer%20Bezirk%20Wolfsberg/Lavam%C3%BCnd" target="_blank">
                <div></div>
            </a>
        </div>
    </div>

      <div class="item warning" v-if="salzburgWarning" style="display: flex;justify-content:center; ">
          <div>
              <strong>Today</strong>
              <div v-for="warning in salzburgWarning.today" class="flex-center">
                  <img v-bind:src="warning.img.src"/> <div><p v-if="warning.time" v-text="warning.time"></p><p v-text="warning.description"></p></div>
              </div>
          </div>

          <div>
              <strong>Tomorrow</strong>
              <div v-for="warning in salzburgWarning.tomorrow" class="flex-center">
                  <img v-bind:src="warning.img.src"/> <div><p v-if="warning.time" v-text="warning.time"></p><p v-text="warning.description"></p></div>
              </div>
          </div>
          <!--<a v-bind:href="salzburgWarning.link"><span v-text="salzburgWarning.pubDate" style="font-size: 80%; color: #666666"></span></a>-->
      </div>

      <div class="satellite item">
        <div class="satellite-picture" v-for="picture in radars" v-show="radarVisible == picture.img">
            <img v-bind:src="getSatelliteImage(picture)" v-bind:width="picture.width" v-bind:height="picture.height" class="radar" >
        </div>
        <div class="nav">
            <img v-for="picture in radars" class="radar" v-bind:src="picture.thumb" v-on:click="onSatelliteClick(picture)">
        </div>
    </div>

      <div class="item netatmo">
          <div>
              <iframe allowtransparency="false" src="https://weathermap.netatmo.com//?zoom=13&type=temp&param=Filter&stationid=70%3Aee%3A50%3A01%3A86%3A06&maplayer=Map&lang=undefined" width="1000" height="768" frameborder="0" scrolling="NO"></iframe>
          </div>
      </div>

      <div class="hydro item">
          <div>
              <a href="https://www.zamg.ac.at/cms/de/wetter/wetterwerte-analysen/kaernten/temperatur/?mode=alphabet&druckang=red">
                  <img src="https://www.zamg.ac.at/zamgWeb/pict/tawes/tawes_plone_rr_11229_1h.gif">
              </a>
          </div>
          <div>
              <a href="https://www.zamg.ac.at/cms/de/wetter/wetterwerte-analysen/kaernten/temperatur/?mode=alphabet&druckang=red">
                  <img src="https://www.zamg.ac.at/zamgWeb/pict/tawes/tawes_plone_so_11229_1h.gif">
              </a>
          </div>
          <div>
              <a href="https://hydrographie.ktn.gv.at/atmosphaere/niederschlag">
                  <img src="https://info.ktn.gv.at/asp/hydro/daten/svg/2002176n3d.svg" width="1000"/>
              </a>
          </div>

      </div>

      <div class="snowflakes" aria-hidden="true" v-if="weather.id >= 600 && weather.id < 700">
          <div class="snowflake" v-for="n in 10">
              ❅
          </div>
      </div>

      <div id="footer">
      <p>Weather indicators compilation for Gr&ouml;dig, Austria. Author is <a href="https://www.twitter.com/tdvorak">Tomáš Dvořák</a>. Source code available at <a href="https://github.com/todvora/wtr">github.com/todvora/wtr</a>.
      </p>
    </div>
  </div>
  <!--<script src="vue.min.js"></script>-->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script type="text/javascript" src="main.js"></script>
  <script type="text/javascript" src="https://api.openweathermap.org/data/2.5/weather?q=Lavamünd,at&units=metric&appid=a296907e19c33ca056b8e1a69db193eb&callback=window.weather.setOpenWeather" async></script>
</body>

</html>
