body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #666;
    text-align:left;
}

.item {
    clear:both;
}

#container {
    max-width: 860px;
    margin: 0 auto;
}

#header {
    padding: 0.6em;
    font-weight: bold;
    font-size: 110%;
}

.title h2 {
    padding:0 10px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-align:left;
    margin:5px;
}

.title {
    border-bottom: 2px solid #444;
    margin:20px 0;
}

div.clouds {
    display:none;
}

.satellite-picture {
    float:left;
    width:600px;
    height:470px;
}

.satellite .nav img {
    padding: 0px 10px 10px 10px;
    width:150px;
    cursor: pointer;
}

.item {padding-top: 10px;}

/* grayscale filters and hover

.yr img {
    filter: gray;
    -webkit-filter: grayscale(1);
}

.yr img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}

*/

.content {
    padding: 0px 20px;

}

#footer {
    text-align: right;
    font-size: 80%;
    padding: 20px 0;
}