body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #666;
    text-align:left;
}

.item {
    clear:both;
}

#container {
    max-width: 860px;
    margin: 0 auto;
}

#header {
    padding: 0.6em;
    font-weight: bold;
    font-size: 110%;
}

.title h2 {
    padding:0 10px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-align:left;
    margin:5px;
}

.title {
    border-bottom: 2px solid #444;
    margin:20px 0;
}

div.clouds {
    display:none;
}

.satellite-picture {
    float:left;
    width:600px;
    height:470px;
}

.satellite .nav img {
    padding: 0px 10px 10px 10px;
    width:150px;
    cursor: pointer;
}

.item {padding-top: 10px;}

/* grayscale filters and hover

.yr img {
    filter: gray;
    -webkit-filter: grayscale(1);
}

.yr img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}

*/

.content {
    padding: 0px 20px;

}

#footer {
    text-align: right;
    font-size: 80%;
    padding: 20px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr.header td {
    text-align: right;
    font-weight: bolder;
}

tr:hover {
    background-color: #b1d8ff4d !important;
}

td {
    padding: 6px;
}

span.negative {
    color: #9a0100;
    font-weight: bolder;
}

td.type {
    text-align: right;
}

tr:nth-child(even) {
    background: #eeeeee
}
tr:nth-child(odd) {
    background: #FFF
}

td.wind-dir span {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
}

td.humidity span {
    display: inline-block;
    width: 100%;
    max-width: 60px;
    border: 1px solid #dadada;
    padding: 3px;
    font-size: 80%;
}


.spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

.spinner > div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% {
           transform: scaleY(1.0);
           -webkit-transform: scaleY(1.0);
       }
}

.current-conditions {
    padding: 5px 20px 35px 20px;
    border: 2px solid #d7effa;
    height: 262px;
    border-right: 0;
}

.yr-prognosis {
    border: 2px solid #d7effa;
}

.yr-prognosis img {
    clip-path: inset(25px 4px 15px 5px);
}
