body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #666;
    text-align: left;
    padding: 0;
    margin: 0;
}

.item {
    clear: both;
    padding: 10px 0 20px;
}

#container {
    margin: 0 auto;
    padding: 10px;
}

#header {
    padding: 0.6em;
    font-weight: bold;
    font-size: 110%;
}

.title h2 {
    padding: 0 10px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-align: left;
    margin: 5px;
}

.title {
    border-bottom: 2px solid #444;
    margin: 20px 0;
}

div.clouds {
    display: none;
}

.satellite {
    display: flex;
    justify-content: center;
}

.satellite-picture {
    float: left;
}

.satellite .nav img {
    padding: 0 10px 10px 10px;
    width: 150px;
    cursor: pointer;
    float: left;
    clear: both;
}

.content {
    padding: 0 20px;

}

#footer {
    text-align: center;
    font-size: 80%;
    padding: 20px 0;
}

table {
    border-collapse: collapse;
}

tr.header td {
    text-align: right;
    font-weight: bolder;
}

tr:hover {
    background-color: #b1d8ff4d;
}

td {
    padding: 6px;
}

.negative {
    color: #9a0100;
    font-weight: bolder;
}

td.type {
    text-align: right;
}

td.wind-dir span {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
}

td.humidity span {
    display: inline-block;
    width: 100%;
    max-width: 60px;
    border: 1px solid #dadada;
    padding: 3px;
    font-size: 80%;
    border-radius: 3px;
}

.spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

.spinner > div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

.current-conditions {
    padding: 5px 20px 35px 20px;
    border: 2px solid #d7effa;
    height: 262px;
    border-right: 0;
}

table tr {
    background: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.18);
    font-size: 80%;
}

table tr:first-child, table tr:last-child {
    border: 0;
}

.current-conditions table tr td:nth-child(2) {
    font-weight: bolder;
    text-align: right;
}

.yr-prognosis {
    border: 2px solid #d7effa;
}

.yr-prognosis img {
    clip-path: inset(25px 4px 15px 5px);
}

.salzburg table {
    margin: 0 auto;
}

.salzburg table tr {
    font-size: 100%;
}

.salzburg table tr th {
    padding:3px;
}


.warning td {
    padding: 1px;
}

.warning tr {
    border: 0;
}

.warning br {
    display: none;
}

.warning td img {
    padding: 3px;
    border: 0;
}

.nightmode {
    background-color: #1c1c1c;
    color: #c0a1a1;
}

.nightmode .yr-prognosis img {
    filter: invert(89%);
}

.nightmode .current-conditions, .nightmode .yr-prognosis {
    border-color: #c0a1a1;
}

.nightmode td.humidity span {
    color:#000;
}

.nightmode .negative {
    color: #ff5150;
}

.nightmode a {
    color: #e38181;;
}

.nightmode tr:hover {
   background-color:rgba(0,0,0,0.5);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.item.warning > div {
    margin: 0 20px;
    font-size: 80%;
}

.item.warning p {
    margin: 0;
}


.item.warning img {
    padding: 0 4px 4px 0;
}
